[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | venv
  | .venv
  | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 87
skip = ["migrations", "venv", ".venv", "node_modules"]
