services:
  - type: web
    name: arnova-app
    env: docker
    dockerfilePath: ./docker/Dockerfile
    plan: starter
    region: oregon
    branch: main
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: settings
      - key: NODE_ENV
        value: production
      - key: PYTHONUNBUFFERED
        value: "1"
    healthCheckPath: /health/
    startCommand: ". /opt/render/project/src/.venv/bin/activate && gunicorn wsgi:application"
    preDeployCommand: "pip install -r requirements.txt && python manage.py migrate"
